body {
    padding-top: 52px;
}
.no-padding{
    padding: 0;
}
.actions i{
    padding-right: 5px;
}
.form-info .form-group{
    margin-bottom: 5px;
}
.product-info{
    padding-top: 10px;
}
.input-price{
    padding: 2px;
    height: 28px;
}